.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.homeHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}
.homeHeader a {
  text-emphasis: none;
  margin-right: 20px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}
.homeHeader a:hover {
  text-decoration: underline;
}
